@import url(https://fonts.google.com/share?selection.family=Montserrat:wght@300);

body {
    font-family:"Montserrat" , sans-serif ;
    max-width: 50%;
    margin: auto ;
    color: #333;

}
.header {
    display: flex;
    align-items:center;
}

.face {
    width: 150px; 
    height: 175px;
    object-fit:cover ;
    border-radius: 50%;
    margin-top: 20px;
}

.tittle {
    flex: 1;
    margin-left: 20px; 
}

.name {
    color: rgb(233, 70, 70);
}

.coral {
    color: coral;
}

.qualification {
    letter-spacing:1px ;
}

.hrline {
    border: 1px solid coral;
}

.table-heading {
    min-width: 300px;
    display: block;
    font-size: 23px;
}

.table-props {
    font-size: 22px;
    color: coral;

}

.marginfix {
    margin-top: 20px;
}

.jobheading {
    font-size: 20px;
    line-height: 25px;
}

.jobduration {
    font-weight: 300;
    line-height: 25px;
    font-size:15px ;
    color: grey;
}

.jobdescription {
     margin-top: 20px;
}